@{
    //Layout = "~/Pages/Layouts/_BasicLayout.cshtml";
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8">
    <title>Task8</title>
    <link rel="stylesheet" href="~/Scripts/style.css">
</head>
<body>
    <form action="#" method="post" name="Log-in">
        <div class="regForm">
            <div class="header">
                <p>Log-in</p>
            </div>

            <div class="login">
                <p>Log-in</p>
                <input type="text" class="login" id="login" name="login">
            </div>
            <div class="password">
                <p>Password</p>
                <input type="text" class="password" id="password" name="password">
            </div>
            <div class="button">
                <input type="submit" class="button" id="submit" value="Sumbit">
            </div>
            <div class="button">
                <input type="submit" formaction="~/Pages/interface" class="button" id="submit" value="Debug">
            </div>
        </div>
    </form>
</body>
</html>
