@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="main">
        <p>Users&Awards</p>
        <div class="button">
            <input type="submit" formaction="" class="button" id="submit" value="Make_user">
        </div>
        <div class="button">
            <input type="submit" formaction="" class="button" id="submit" value="Make_award">
        </div>
    </div>

</body>
</html>